/* Style top level components */
.body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #DB4747;
    color: white;
    text-align: center;
}

.main {
    flex: 2;
}

.footer {
    background-color: #DB4747;
    color: #4f4f4f;
    text-align: center;
}

.footer__creator {
    margin: 5px;
}
.footer__hosting {
    margin: 5px;
}

.play-area {
    margin: 50px;
    box-shadow: 0 0 5px 3px #b5b5b5;
}

.cards {
    display: flex;
    align-items: center;
}

/* style elements in play area */
.banner {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
    flex: 100%;
}

.banner__text {
    font-size: 1.3em;
    margin: 0;
}

.card {
    flex: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding: 10px;
}
.summary-card {
    background-color: #23dccd;
    color: #4f4f4f;
    justify-self: center;
    height: 50%;
    flex: 1;
}

/* style elements in cards */
.card__score {
    color: #797878;
    font-size: 2em;
}

.card__img {
    height: 150px;
    width: 150px;
}

.card__img__img {

    max-width: 100%;
    max-height: 100%;
}

.card__options {
    display: flex;
}

.card__option {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e37272;
    color: white;
    margin: 5px;
    padding: 5px;
}

.player-card__option {
    cursor: pointer;
}

.player-card__option:active {
    transform: scale(0.9);
}
