/* Style top level components */
.body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: gold;
    text-align: center;
}

main {
    flex: 2;
}

.footer {
    background-color: red;
    text-align: center;
}

.play-area {
    margin: 50px;
    background-color: blue;
    flex-wrap: wrap;
    display: flex;
}

/* style elements in play area */
.banner {
    background-color: red;
    text-align: center;
    flex: 100%;
}

.card {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding: 10px;
}
.summary-card {
    background-color: gold;
}

/* style elements in cards */
.card__score {
    font-size: 2em;
}

.card__img {
    height: 150px;
    width: 150px;
}

.card__img__img {

    max-width: 100%;
    max-height: 100%;
}

.card__options {
    display: flex;
}

.card__option {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: gold;
    margin: 5px;
    padding: 5px;
}

.player-card__option {
    cursor: pointer;
}

.player-card__option:active {
    transform: scale(0.9);
}
