* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(-30deg, red, blue) no-repeat center; */
}

main {
    position: absolute;
    margin: auto;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    height: 200px;
    width: 200px;
}

button {
    width: 2em;
}