* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: aquamarine;
    display: grid;
    grid-template-rows:200px 50px 1fr 100px ;
}

header {
    background-color: coral;
}

h2 {
    background-color: beige;
    text-align: center;
}

main {
    background-color: cornflowerblue;
    display: grid;
    grid-template: 1fr 3fr / 1fr 1fr 1fr;
    grid-template-areas: "pwin ties cwin"
                         "pcard rresults ccard"               
    ;
}

#playerWins {
    grid-area: pwin;
}

#ties {
    grid-area: ties;
}

#computerWins {
    grid-area: cwin;
}

#playerCard {
    grid: pcard;
}

#computerCard {
    grid-area: ccard;
}

#roundResults {
    grid-area: rresults;
}

footer {
    background-color: crimson;
}